/** Universal **/
:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

table {
    width: 100%;
}

dialog {
    width: 70%;
    position: absolute;
    top: 0;
    background: var(--background);
    color: var(--text);
}

button {
    border: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 8px;
}

button:focus-visible {
    outline: none;
}

.available {
    color: green;
}

.overdue {
    color: red;
}

.almost-overdue {
    color: orange;
}

.borrowed {
    color: brown;
}

.button-primary {
    background: var(--primary);
    color: var(--text-50);
    transition: 300ms;
}

.button-primary:hover {
    background: var(--primary-800);
}

.button-secondary {
    background: var(--accent);
    color: var(--text);
    transition: 300ms;
}

.button-secondary:hover {
    background: var(--accent-200);
}

.button-primary:disabled,
.button-secondary:disabled {
    background: rgb(221, 221, 221);
    color: rgb(133, 131, 131);
}

.close-btn {
    border: none;
    font-weight: bold;
    font-size: 2.4rem;
    background: none;
    transition: 300ms;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box {

    width: min(40%, 20rem);
    aspect-ratio: 1;
    background-color: transparent;
    transition: 100ms;


}

.hide {
    display: none;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

.img-box:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.inner {
    padding: 1rem 2rem;
}

.aria-required {
    color: red;
}

/** Specific **/

#main {
    background: var(--background);
    min-height: 100vh;

    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows: auto 1fr auto;
}

#header {
    grid-area: header;
    background: var(--background-900);
    color: var(--text-50);

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #header-title {
            font-size: 2.4rem;
            font-weight: bold;
        }
    }
}

#content {
    grid-area: content;

    .inner {

        table {
            font-size: 1.2rem;
        }

        table,
        th,
        td {
            border-collapse: collapse;
            border: 1px solid hsl(0, 0%, 91%);
        }

        th,
        td {
            padding: 1rem;
        }

        th {
            text-align: left;
        }

        td:last-of-type {
            display: flex;
            gap: 1rem;
            justify-content: space-around;
        }

        tbody:has(tr:hover) td {
            text-shadow: 0px 0px 5px rgb(150, 150, 150);
            color: transparent;
            background: transparent;
        }

        tbody tr:hover td {
            color: var(--text);
            text-shadow: none;
            background: hsl(0, 0%, 87%);
            transition: 300ms;
        }

        tbody tr:hover td.available {
            color: green;
        }

        tbody tr:hover td.overdue {
            color: red;
        }

        tbody tr:hover td.almost-overdue {
            color: orange;
        }

        tbody tr:hover td.borrowed {
            color: brown;
        }

        #add-book-btn {
            width: 100%;
            border: 1px dashed hsl(0, 0%, 70%);
            margin-top: 0.5rem;
            padding: 0.5rem;
            background: transparent;
            font-size: 2.4rem;
            font-weight: bold;
            cursor: pointer;
            transition: 300ms;
        }

        #add-book-btn:hover {
            background: hsl(0, 1%, 86%);
        }

        #add-book-btn:focus,
        #add-book-btn:focus-visible {
            outline: none;
        }
    }
}

#footer {
    grid-area: footer;
    background: var(--background-900);
    color: var(--text-50);
    font-weight: bold;

    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#book-operate {
    position: relative;

    .close-btn-box {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .book-cover-form-set {
        position: relative;

        display: flex;
        justify-content: center;

    }

    #book-cover {
        background-size: cover;
        border: 1px solid rgb(192, 191, 191);
    }

    #book-cover-overlay {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
        cursor: pointer;
        transform: translateY(-50%);
    }

    /* If there is no background image  */
    #book-cover:not([style*="background-image"])~#book-cover-overlay {
        background: rgb(0, 0, 0, 0.3);
    }

    #book-cover:not([style*="background-image"])~#book-cover-overlay:hover {
        background: rgb(0, 0, 0, 0.5);
    }

    /* If there is background image  */
    #book-cover[style*="background-image"]~#book-cover-overlay img {
        opacity: 0;
    }

    #book-cover[style*="background-image"]~#book-cover-overlay:hover img {
        opacity: 1;
    }

    .form-inner {
        margin: 1rem 0;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40rem, 40%));
        gap: 2rem;

        .form-set {

            display: grid;
            grid-template-columns: 10rem 1fr 2rem;
            align-items: center;

            input {
                width: 100%;
            }
        }


    }

    .grid-two-cols {
        display: grid;
        grid-template-columns: minmax(35rem, 45rem) auto;
    }

    .summary-form-set {
        display: grid;
        grid-auto-rows: auto;
        margin-top: 2rem;

        .one-row {
            display: flex;
            gap: 1rem;
        }
    }

    .btn-box {
        margin: 1rem 0;
    }
}

#confirm-operate {
    width: clamp(30rem, 40%, 50rem);

    .decision-btn {
        button {
            width: 20%;
        }
    }
}


#borrow-operate {
    & form {

        .selection-container {
            background: rgba(182, 182, 182, 0.2);
            padding: 0.1rem 0 2rem 1rem;

            .user-status-selection {
                border: none;
                padding: 0;
                margin: 2rem 0;

                display: flex;

                input[type="radio"] {
                    appearance: none;
                    display: none;
                }

                label {
                    padding: 1rem;
                    border: 1px solid rgb(212, 212, 212);
                    box-shadow: none;
                    transition: 300ms;
                    cursor: pointer;
                    opacity: 1;
                    font-weight: bold;
                    font-size: 2rem;
                }

                label:hover {
                    opacity: 0.7;
                }

                input[type="radio"]:checked+label {
                    background: var(--primary-100);
                    border: none;
                }
            }

            .user-status-selection:disabled~.form-inner {

                .hide-upon-borrowed,
                .hide-upon-borrowed-btn {
                    display: none;
                }
            }

            .user-status-selection:not([disabled]):has(#rd-existing:checked)~.form-inner {

                .hide-existing,
                .hide-existing-temp,
                .hide-existing-btn {
                    display: none;
                }
            }

            .user-status-selection:not([disabled]):has(#rd-new:checked)~.form-inner {

                .hide-new,
                .hide-new-btn {
                    display: none;
                }
            }

            .form-inner {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(40rem, 40%));
                gap: 1rem;

                .form-set {
                    display: grid;
                    grid-template-columns: 20rem 1fr;
                    align-items: center;

                    input {
                        width: 100%;
                    }
                }
            }
        }


    }

    .close-form {
        display: flex;
        justify-content: flex-end;
    }

    .selected-book {
        font-weight: bold;
    }

    .error {
        color: red;
    }

    .borrow-history-form-set {
        margin: 2rem 0;
        background: rgba(182, 182, 182, 0.2);
        padding: 0.1rem 1rem 2rem 1rem;

        h4 {
            font-weight: bold;
            font-size: 2.4rem;
            margin-bottom: 2rem;
        }

        table,
        th,
        td {
            border: 1px solid rgb(204, 204, 204);
            border-collapse: collapse;
        }

        th {
            text-align: left; 
        }

        th, td {
            padding: 0.5rem 1rem;   
        }
    }

    .selection-container:has(.user-status-selection:not([disabled])):has(#rd-existing:checked)~.hide-existing-btn {
        display: none;
    }

    .selection-container:has(.user-status-selection:not([disabled])):has(#rd-new:checked)~.hide-new-btn {
        display: none;
    }

    .selection-container:has(.user-status-selection:disabled) {

        ~.hide-upon-borrowed-btn {
            display: none;
        } 
    }

}